	#entity url
entity.company.url=http://api.crunchbase.com/v/1/company/%s.js?api_key=%s
entity.person.url=http://api.crunchbase.com/v/1/person/%s.js?api_key=%s
entity.financial.url=http://api.crunchbase.com/v/1/financial-organization/%s.js?api_key=%s
entity.product.url=http://api.crunchbase.com/v/1/product/%s.js?api_key=%s
entity.service.url=http://api.crunchbase.com/v/1/service-provider/%s.js?api_key=%s

	#entity list url
entitylist.url=http://api.crunchbase.com/v/1/%s.js

	#search url
search.url=http://api.crunchbase.com/v/1/search.js?%s

	#posts
posts.companies=http://api.crunchbase.com/v/1/companies/posts?name=%s&api_key=%s


